<div *ngIf="form">
  <form class="needs-validation" [formGroup]="form">
    <div class="form-group">
      <label for="name">Название справочника</label>
      <input type="text" class="form-control" id="name" formControlName="name" readonly>
    </div>
    <div class="form-group">
      <label for="sysname">Системное наименование справочника</label>
      <input type="text" class="form-control" id="sysname" formControlName="sysname" readonly>
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <input type="text" class="form-control" id="description" formControlName="description" readonly>
    </div>
    <div class="form-group">
      <label for="author">Автор</label>
      <input type="text" class="form-control" id="author" formControlName="author" readonly>
    </div>
    <div class="form-group">
      <label for="creationDate">Дата создания</label>
      <input type="text" class="form-control" id="creationDate" value="{{ creationDate | date:'medium':null:'ru' }}" readonly>
    </div>
    <div class="form-group">
      <label for="elementQuantity">Количество элементов</label>
      <input type="text" class="form-control" id="elementQuantity" formControlName="elementQuantity" readonly>
    </div>

    <button type="button" class="btn btn-dark" (click)="goToReferencesPage()">Назад</button>
  </form>
</div>
